<form method="GET">
    {% csrf_token %}
    <label for="steam_id">steam_id:</label>
    <input type="text" id="steam_id" name="steam_id" placeholder="enter 9 digit steam_id" required><br>

    <label for="position">position:</label>
    <input type="text" id="position" name="position" placeholder="1, 2, 3, 4, or 5" required><br>

    <label for="isOnMyTeam">isOnMyTeam:</label>
    <input type="text" id="isOnMyTeam" name="isOnMyTeam" placeholder="True or False" required><br>

    <label for="minute">minute:</label>
    <input type="text" id="minute" name="minute" placeholder="default: 11 (minute 10)" required><br>

    <label for="skip_interval">skip_interval:</label>
    <input type="text" id="skip_interval" name="skip_interval" placeholder="default: 10" required><br>

    <label for="num_matches">num_matches:</label>
    <input type="text" id="num_matches" name="num_matches" placeholder="number of matches to parse" required><br>

    <button type="submit">Submit</button>
</form>

{% if excelsheet %}
    <a href="?steam_id={{ steam_id }}&download=true">
        <button type="button">Download Excel Sheet</button>
    </a>
{% endif %}
